<!-- product-details.component.html -->

<div *ngIf="product !=null" class="product-details-container">
    <div class="product-details-card">
        <img *ngIf="product.imgUrl" [src]="product.imgUrl"
            alt="{{ product.name }}" class="product-image">
        <div class="product-info">
            <h2 class="text-primary">{{ product.name }}</h2>
            <p>Price: {{ product.price | currency}}</p>
            <p>Quantity: {{ product.quantity }}</p>
        </div>
        <div class="center">
            <button class="btn btn-primary" (click)="goBack()">
                Back
            </button>
        </div>
    </div>
</div>
