<div class="container">
    <form [formGroup]="userRegisterForm" (ngSubmit)="submit()">
        <div class="form-group mt-5">
            <label for="fName">Full Name</label>
            <input formControlName="fullName" type="text" class="form-control"
                id="fName" name="fName"
                placeholder="Enter Full Name">
            <div class="alert alert-warning"
                [hidden]="fullName?.valid || fullName?.untouched">
                <small *ngIf="fullName?.errors?.['required']">Full Name is
                    required</small>
                <small *ngIf="fullName?.errors?.['pattern']">Full Name Must be
                    more than 3 letter and
                    <b>{{fullName?.errors?.['pattern'].actualValue}}</b> Does
                    not match</small>
            </div>
        </div>
        <div class="form-group mt-5">
            <label for="uemail">email</label>
            <input formControlName="email" type="email" class="form-control"
                id="uemail" name="uemail"
                placeholder="Enter Email" [class.is-invalid]="email?.invalid"
                [class.is-valid]="email?.valid">
            <div class="alert alert-warning"
                [hidden]="email?.valid || email?.untouched">
                <small *ngIf="email?.errors?.['required']">Email is
                    required</small>
                <small *ngIf="email?.errors?.['EmailNotValid']">Not a Valid
                    Email
                    Address, {{email?.errors?.['EmailNotValid'].value}}</small>
            </div>
        </div>
        <div formArrayName="mobileNumber">
            <div class="mt-3 ms-5"
                *ngFor="let phoneNumber of mobileNumber.controls; let i = index">
                <label for="mNumber{{i+1}}">Mobile Number: {{i+1}}</label>
                <input [formControlName]="i" type="text"
                    class="form-control"
                    id="mNumber{{i+1}}" name="mNumber{{i+1}}"
                    placeholder="Enter Mobile Number {{i+1}}">
            </div>
        </div>
        <button class="btn btn-primary mt-1 ms-5"
            (click)="addNumebr()" type="button">+</button>
        <div formGroupName="address">
            <div class="form-group mt-5">
                <label for="ucity">City</label>
                <input formControlName="city" type="text"
                    class="form-control"
                    id="ucity" name="ucity"
                    placeholder="Enter City Name">
            </div>
            <div class="form-group mt-5">
                <label for="upostCode">Postal Code</label>
                <input formControlName="postalCode" type="text"
                    class="form-control"
                    id="upostCode" name="upostCode"
                    placeholder="Enter Post Code">
            </div>
            <div class="form-group mt-5">
                <label for="ustreet">street</label>
                <input formControlName="street" type="text"
                    class="form-control"
                    id="ustreet" name="ustreet"
                    placeholder="Enter street">
            </div>
        </div>
        <div class="form-group mt-5">
            <label for="upassword">Password</label>
            <input formControlName="password" type="password"
                class="form-control"
                id="upassword" name="upassword"
                placeholder="Enter password">
        </div>
        <div class="form-group mt-5">
            <label for="cpassword">Confirm Password</label>
            <input formControlName="confirmPassword" type="password"
                class="form-control"
                id="cpassword" name="cpassword"
                placeholder="Enter password Again">
        </div>

        <div class="mt-3">
            <div class="btn-group" role="group"
                aria-label="Basic radio toggle button group">
                <input formControlName="referral" type="radio" class="btn-check"
                    name="referral"
                    id="btnradio1"
                    autocomplete="off" checked value="Internet"
                    ((change))="UpdateReferralValidator()">
                <label class="btn btn-outline-primary" for="btnradio1">Internet
                </label>

                <input formControlName="referral" type="radio" class="btn-check"
                    name="referral"
                    id="btnradio2"
                    autocomplete="off" value="LinkedIn"
                    (change)="UpdateReferralValidator()">
                <label class="btn btn-outline-primary" for="btnradio2">LinkedIn
                </label>

                <input formControlName="referral" type="radio" class="btn-check"
                    name="referral"
                    id="btnradio3"
                    autocomplete="off" value="Other"
                    (change)="UpdateReferralValidator()">
                <label class="btn btn-outline-primary" for="btnradio3">Other
                </label>
            </div>
        </div>

        <div class="form-group mt-3" *ngIf="referral?.value === 'Other'">
            <label for="UreferralOther">referral Name</label>
            <input formControlName="referralOther" type="text"
                class="form-control"
                id="UreferralOther" name="UreferralOther"
                placeholder="Enter password Again">
        </div>

        <button [disabled]="userRegisterForm.invalid" type="submit"
            class="btn btn-primary mt-3">Submit</button>
    </form>

    <hr>
    <div class="text-danger">
        <h3>To be Removed [For Test]</h3>
        <div>{{userRegisterForm.value| json}}</div>
    </div>
    <div>
        {{fullName?.errors| json}}
    </div>
    <div>
        {{email?.errors| json}}
    </div>
    <div>
        <button class="btn btn-secondary"
            (click)="fillForm()">Fill
            Form</button>
    </div>
</div>