<select class="form-select" aria-label="Default select example"
    [(ngModel)]="selectedCategoryId" (change)="ngOnChanges()">
    <option value="0" selected>All</option>
    <option *ngFor="let cat of categortList"
        [value]="cat.id">{{cat.name}}</option>
</select>

<hr>
<div class="row">
    <div class="col-6">Today's Date: {{orderDate |date:'longDate'}}</div>
    <div class="col-6">Total price: {{totalPrice | currency}}</div>
</div>
<hr>
<div>
    <h3>Enter Yor Name: </h3>
    <input #ClientName type="text" class="form-control">
</div>
<hr>
<!-- [prodList]="filterdProductList" input data to be viewed
(totalPriceEmitter)="$event" the name of eventEmitter Object in the Child
Component -->
<div class="row">
    <div class="col-8">
        <app-product-table
            (totalPriceEmitter)="totalPrice= $event"
            (orderItem)="Oreder.push($event)"></app-product-table>
    </div>
    <div class="col-4 bg-dark">
        <app-order-table [orderList]="Oreder"></app-order-table>
    </div>
</div>
<!-- <tbody>
        <tr *ngFor="let item of productList; let i=index trackBy: prodTrackFn"
            [class.d-none]="selectedCategoryId != item.categoryID || selectedCategoryId==0"
            [style.background-color]="(item.quantity ==0)? 'red':'green' ">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td><img [src]="item.imgUrl" alt="Product Image"></td>
             <td>
                <div *ngIf="item.quantity !=0"> {{item.quantity}}</div>
                <div *ngIf="item.quantity ==0">Out Of Stock</div>
            </td>
            <td>{{item.price}}</td>
            <td><input #count class="form-control" type="number"></td>
            <td><button class="btn btn-primary"
                    (click)="Buy(item.price,count.value)">
                    Buy</button></td>
        </tr>
    </tbody> -->
